name: Java CI using Gradle and Nebula

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*
jobs:
  build:

    runs-on: ubuntu-latest
    # The GITHUB_TOKEN secret is set to an access token for the repository each time a job in a workflow begins.
    # You should set the permissions for this access token in the workflow file to grant
    # read access for the contents scope and write access for the packages scope.
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
        with:
          # 0 indicates all history for all branches and tags
          fetch-depth: "0"

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build for PR
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        if: github.event_name == 'pull_request'
        with:
          arguments: build -Prelease.stage=final

      - name: Build, publish and tag release
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        if: github.event_name == 'push'
        with:
          arguments: build publish final -Prelease.stage=final

      - name: deploy new release
        if: github.event_name == 'push'
        run: scripts/deploy-latest.sh
